<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.kbengine.dao.ds1.DxQuotaHistoryMapper">
    
    <resultMap type="com.wzxc.kbengine.vo.DxQuotaHistory" id="DxQuotaHistoryResult">
        <result property="id"    column="id"    />
        <result property="quotaName"    column="quota_name"    />
        <result property="valueUnit"    column="value_unit"    />
        <result property="nodeId"    column="node_id"    />
        <result property="quotaValue"    column="quota_value"    />
        <result property="quotaYoy"    column="quota_yoy"    />
        <result property="quotaMom"    column="quota_mom"    />
        <result property="remarks"    column="remarks"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="quotaDesc"    column="quota_desc"    />
        <result property="quotaId"    column="quota_id"    />
    </resultMap>

    <sql id="selectDxQuotaHistoryVo">
        select id, quota_name, value_unit, node_id, quota_value, quota_yoy, quota_mom, remarks, creator, create_time, quota_desc, quota_id from dx_quota_history
    </sql>

    <select id="selectDxQuotaHistoryList" parameterType="DxQuotaHistory" resultMap="DxQuotaHistoryResult">
        <include refid="selectDxQuotaHistoryVo"/>
        <where>  
            <if test="quotaName != null  and quotaName != ''"> and quota_name like concat('%', #{quotaName}, '%')</if>
            <if test="valueUnit != null  and valueUnit != ''"> and value_unit = #{valueUnit}</if>
            <if test="nodeId != null "> and node_id = #{nodeId}</if>
            <if test="quotaValue != null  and quotaValue != ''"> and quota_value = #{quotaValue}</if>
            <if test="quotaYoy != null  and quotaYoy != ''"> and quota_yoy = #{quotaYoy}</if>
            <if test="quotaMom != null  and quotaMom != ''"> and quota_mom = #{quotaMom}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="quotaDesc != null  and quotaDesc != ''"> and quota_desc = #{quotaDesc}</if>
            <if test="quotaId != null "> and quota_id = #{quotaId}</if>
        </where>
    </select>
    
    <select id="selectDxQuotaHistoryById" parameterType="Long" resultMap="DxQuotaHistoryResult">
        <include refid="selectDxQuotaHistoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDxQuotaHistory" parameterType="DxQuotaHistory" useGeneratedKeys="true" keyProperty="id">
        insert into dx_quota_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quotaName != null and quotaName != ''">quota_name,</if>
            <if test="valueUnit != null">value_unit,</if>
            <if test="nodeId != null">node_id,</if>
            <if test="quotaValue != null and quotaValue != ''">quota_value,</if>
            <if test="quotaYoy != null">quota_yoy,</if>
            <if test="quotaMom != null">quota_mom,</if>
            <if test="remarks != null">remarks,</if>
            <if test="creator != null and creator != ''">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="quotaDesc != null">quota_desc,</if>
            <if test="quotaId != null">quota_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quotaName != null and quotaName != ''">#{quotaName},</if>
            <if test="valueUnit != null">#{valueUnit},</if>
            <if test="nodeId != null">#{nodeId},</if>
            <if test="quotaValue != null and quotaValue != ''">#{quotaValue},</if>
            <if test="quotaYoy != null">#{quotaYoy},</if>
            <if test="quotaMom != null">#{quotaMom},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="quotaDesc != null">#{quotaDesc},</if>
            <if test="quotaId != null">#{quotaId},</if>
         </trim>
    </insert>

    <update id="updateDxQuotaHistory" parameterType="DxQuotaHistory">
        update dx_quota_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="quotaName != null and quotaName != ''">quota_name = #{quotaName},</if>
            <if test="valueUnit != null">value_unit = #{valueUnit},</if>
            <if test="nodeId != null">node_id = #{nodeId},</if>
            <if test="quotaValue != null and quotaValue != ''">quota_value = #{quotaValue},</if>
            <if test="quotaYoy != null">quota_yoy = #{quotaYoy},</if>
            <if test="quotaMom != null">quota_mom = #{quotaMom},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="creator != null and creator != ''">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="quotaDesc != null">quota_desc = #{quotaDesc},</if>
            <if test="quotaId != null">quota_id = #{quotaId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDxQuotaHistoryById" parameterType="Long">
        delete from dx_quota_history where id = #{id}
    </delete>

    <delete id="deleteDxQuotaHistoryByIds" parameterType="String">
        delete from dx_quota_history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--  指标历史值批导入  -->
    <insert id="insertBatch" parameterType="com.wzxc.common.core.dao.InsertBatchCommon">
        INSERT INTO
        <foreach collection ="fieldList" index="index" item="field" separator ="," open="dx_quota_history(" close=")">
            ${field}
        </foreach>
        VALUES
        <foreach collection ="contentList" index="index" item="rowList" separator =",">
            <foreach collection="rowList" index="index" item="item" separator ="," open="(" close=")">
                #{item}
            </foreach>
        </foreach>
    </insert>

</mapper>