<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.kbengine.dao.ds1.LabelBaseInfoRepMapper">
    
    <resultMap type="com.wzxc.kbengine.vo.LabelBaseInfoRep" id="LabelBaseInfoRepResult">
        <result property="id"    column="id"    />
        <result property="labelId"    column="label_id"    />
        <result property="labelName"    column="label_name"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="cdOperation"    column="cd_operation"    />
        <result property="labelType"    column="label_type"    />
        <result property="labelStatus"    column="label_status"    />
        <result property="labelClass"    column="label_class"    />
    </resultMap>

    <resultMap type="com.wzxc.kbengine.vo.LabelBaseInfoRep" id="LabelBaseInfoRepResultWithGroup">
        <result property="id"    column="id"    />
        <result property="labelId"    column="label_id"    />
        <result property="labelName"    column="label_name"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="cdOperation"    column="cd_operation"    />
        <result property="labelType"    column="label_type"    />
        <result property="labelStatus"    column="label_status"    />
        <result property="labelClass"    column="label_class"    />
        <collection property="groupBaseInfoRepList" ofType="com.wzxc.kbengine.vo.GroupBaseInfoRep" javaType="java.util.ArrayList"
                    select="com.wzxc.kbengine.dao.ds1.LabelBaseInfoRepMapper.selectGroupListByLabelClass" column="{labelClass=label_class}"/>
    </resultMap>

    <resultMap type="com.wzxc.kbengine.vo.GroupBaseInfoRep" id="groupBaseInfoRepResult">
        <result column="id" property="id"/>
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="remark" property="remark"/>
        <result column="creator" property="creator"/>
        <result column="updator" property="updator"/>
        <result column="group_type" property="groupType"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="selectLabelBaseInfoRepVo">
        select id, label_id, label_name, remark, create_time, update_time, creator, updator, cd_operation, label_type, label_status, label_class from label_base_info_rep
    </sql>

    <sql id="selectLabelBaseInfoRepVo_a">
        select a.id, a.label_id, a.label_name, a.remark, a.create_time, a.update_time, a.creator, a.updator, a.cd_operation, a.label_type, a.label_status, a.label_class from label_base_info_rep a
    </sql>

    <select id="selectLabelBaseInfoRepList" parameterType="LabelBaseInfoRep" resultMap="LabelBaseInfoRepResultWithGroup">
        <include refid="selectLabelBaseInfoRepVo"/>
        <where>
            label_status = 1
            <if test="labelId != null and labelId != ''"> and label_id = #{labelId}</if>
            <if test="labelName != null  and labelName != ''"> and label_name like concat('%', #{labelName}, '%')</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
            <if test="cdOperation != null  and cdOperation != ''"> and cd_operation = #{cdOperation}</if>
            <if test="labelType != null "> and label_type = #{labelType}</if>
            <if test="labelClass != null and labelClass != ''"> and label_class = #{labelClass}</if>
            <if test="createTimeBegin != null"> and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectLabelBaseInfoRepById" parameterType="Long" resultMap="LabelBaseInfoRepResultWithGroup">
        <include refid="selectLabelBaseInfoRepVo"/>
        where id = #{id}
    </select>

<!--  获取通用标签  -->
    <select id="selectGeneralLableList" parameterType="LabelBaseInfoRep" resultMap="LabelBaseInfoRepResultWithGroup">
        <include refid="selectLabelBaseInfoRepVo_a"/>
        <where>
            a.label_class not in (select distinct label_base_info_rep_class as label_class from label_group_rep) and a.label_status = 1
            <if test="labelId != null  and labelId != ''"> and a.label_id = #{labelId}</if>
            <if test="labelName != null  and labelName != ''"> and a.label_name like concat('%', #{labelName}, '%')</if>
            <if test="creator != null  and creator != ''"> and a.creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and a.updator = #{updator}</if>
            <if test="cdOperation != null  and cdOperation != ''"> and a.cd_operation = #{cdOperation}</if>
            <if test="labelType != null "> and label_type = #{labelType}</if>
            <if test="labelClass != null and labelClass != ''"> and a.label_class = #{labelClass}</if>
            <if test="createTimeBegin != null"> and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
        </where>
        order by create_time desc
    </select>

<!--  获取分组下面的标签  -->
    <select id="selectLabelListByGroupId" parameterType="LabelBaseInfoRep" resultMap="LabelBaseInfoRepResultWithGroup">
        <include refid="selectLabelBaseInfoRepVo_a"/>
        <where>
            a.label_class in (select distinct label_base_info_rep_class as label_class from label_group_rep where group_base_info_rep_id = #{groupBaseInfoRepId}) and a.label_status = 1
            <if test="labelId != null  and labelId != ''"> and a.label_id = #{labelId}</if>
            <if test="labelName != null  and labelName != ''"> and a.label_name like concat('%', #{labelName}, '%')</if>
            <if test="creator != null  and creator != ''"> and a.creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and a.updator = #{updator}</if>
            <if test="cdOperation != null  and cdOperation != ''"> and a.cd_operation = #{cdOperation}</if>
            <if test="labelType != null "> and label_type = #{labelType}</if>
            <if test="labelClass != null and labelClass != ''"> and a.label_class = #{labelClass}</if>
            <if test="createTimeBegin != null"> and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
        </where>
        order by create_time desc
    </select>

    <!--  是否存在重复名称的标签  -->
    <select id="haveRepeatName" parameterType="LabelBaseInfoRep" resultType="int">
        select count(*) from label_base_info_rep where label_name = #{labelName} and label_status = 1
    </select>

<!--  根据标签类查询分组信息  -->
    <select id="selectGroupListByLabelClass" resultMap="groupBaseInfoRepResult">
        select b.id, b.group_id, b.group_name, b.creator, b.create_time, b.updator, b.update_time
        from group_base_info_rep b
        where b.id in (select distinct group_base_info_rep_id from label_group_detail_view where label_base_info_rep_class = #{labelClass})
        order by create_time desc
    </select>
        
    <insert id="insertLabelBaseInfoRep" parameterType="LabelBaseInfoRep" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into label_base_info_rep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="labelId != null and labelId != ''">label_id,</if>
            <if test="labelName != null and labelName != ''">label_name,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="creator != null and creator != ''">creator,</if>
            <if test="updator != null">updator,</if>
            <if test="cdOperation != null">cd_operation,</if>
            <if test="labelType != null">label_type,</if>
            <if test="labelStatus != null">label_status,</if>
            <if test="labelClass != null and labelClass != ''">label_class</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="labelId != null and labelId != ''">#{labelId},</if>
            <if test="labelName != null and labelName != ''">#{labelName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="updator != null">#{updator},</if>
            <if test="cdOperation != null">#{cdOperation},</if>
            <if test="labelType != null">#{labelType},</if>
            <if test="labelStatus != null">#{labelStatus},</if>
            <if test="labelClass != null and labelClass != ''">#{labelClass},</if>
         </trim>
    </insert>

    <update id="updateLabelBaseInfoRep" parameterType="LabelBaseInfoRep">
        update label_base_info_rep
        <trim prefix="SET" suffixOverrides=",">
            <if test="labelId != null and labelId != ''">label_id = #{labelId},</if>
            <if test="labelName != null and labelName != ''">label_name = #{labelName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creator != null and creator != ''">creator = #{creator},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="cdOperation != null">cd_operation = #{cdOperation},</if>
            <if test="labelType != null">label_type = #{labelType},</if>
            <if test="labelStatus != null">label_status = #{labelStatus},</if>
            <if test="labelClass != null and labelClass != ''">label_class = #{labelClass},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLabelBaseInfoRepById" parameterType="LabelBaseInfoRep">
        update label_base_info_rep set update_time = #{updateTime}, updator = #{updator}, label_status = 2 where id = #{id}
    </delete>

    <delete id="deleteLabelBaseInfoRepByIds" parameterType="String">
        delete from label_base_info_rep where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>