<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.kbengine.dao.ds1.LabelGroupRepMapper">
    
    <resultMap type="com.wzxc.kbengine.vo.LabelGroupRep" id="LabelGroupRepResult">
        <result property="labelBaseInfoRepClass"    column="label_base_info_rep_class"    />
        <result property="groupBaseInfoRepId"    column="group_base_info_rep_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="groupName"    column="group_name"    />
        <result property="labelName"    column="label_name"    />
        <result property="labelBaseInfoRepId"    column="label_base_info_rep_id"    />
    </resultMap>

    <resultMap type="com.wzxc.kbengine.vo.LabelGroupRep" id="LabelGroupRepResultWithId">
        <result property="id"    column="id"    />
        <result property="labelBaseInfoRepClass"    column="label_base_info_rep_class"    />
        <result property="groupBaseInfoRepId"    column="group_base_info_rep_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="groupName"    column="group_name"    />
        <result property="labelName"    column="label_name"    />
        <result property="labelBaseInfoRepId"    column="label_base_info_rep_id"    />
    </resultMap>

    <sql id="selectLabelGroupRepVo">
        select label_base_info_rep_class, group_base_info_rep_id, create_time, remark, update_time, creator, updator, group_name, label_name, label_base_info_rep_id from label_group_detail_view
    </sql>

    <select id="selectLabelGroupRepList" parameterType="com.wzxc.kbengine.vo.LabelGroupRep" resultMap="LabelGroupRepResult">
        <include refid="selectLabelGroupRepVo"/>
        <where>  
            <if test="labelBaseInfoRepClass != null "> and label_base_info_rep_class = #{labelBaseInfoRepClass}</if>
            <if test="groupBaseInfoRepId != null "> and group_base_info_rep_id = #{groupBaseInfoRepId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectLabelGroupRepById" parameterType="Long" resultMap="LabelGroupRepResult">
        <include refid="selectLabelGroupRepVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLabelGroupRep" parameterType="com.wzxc.kbengine.vo.LabelGroupRep" useGeneratedKeys="true" keyProperty="id">
        insert into label_group_rep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="labelBaseInfoRepClass != null">label_base_info_rep_class,</if>
            <if test="groupBaseInfoRepId != null">group_base_info_rep_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="creator != null and creator != ''">creator,</if>
            <if test="updator != null">updator,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="labelBaseInfoRepClass != null">#{labelBaseInfoRepClass},</if>
            <if test="groupBaseInfoRepId != null">#{groupBaseInfoRepId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="updator != null">#{updator},</if>
         </trim>
    </insert>

    <update id="updateLabelGroupRep" parameterType="com.wzxc.kbengine.vo.LabelGroupRep">
        update label_group_rep
        <trim prefix="SET" suffixOverrides=",">
            <if test="labelBaseInfoRepClass != null">label_base_info_rep_class = #{labelBaseInfoRepClass},</if>
            <if test="groupBaseInfoRepId != null">group_base_info_rep_id = #{groupBaseInfoRepId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creator != null and creator != ''">creator = #{creator},</if>
            <if test="updator != null">updator = #{updator},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLabelGroupRepById" parameterType="Long">
        delete from label_group_rep where id = #{id}
    </delete>

    <delete id="deleteLabelGroupRepByIds" parameterType="String">
        delete from label_group_rep where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteLabelGroupRepByGroupId" parameterType="Long">
        delete from label_group_rep where group_base_info_rep_id = #{id}
    </delete>

    <delete id="clearGroup" parameterType="String">
        delete from label_group_rep where label_base_info_rep_class = #{labelClass}
    </delete>

</mapper>