<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.kbengine.dao.ds1.PolicyBaseInfoRepMapper">
    
    <resultMap type="com.wzxc.kbengine.vo.PolicyBaseInfoRep" id="PolicyBaseInfoRepResult">
        <result property="id"    column="id"    />
        <result property="policyId"    column="policy_id"    />
        <result property="policyType"    column="policy_type"    />
        <result property="fileObjectStr"    column="file_object_list"    />
        <result property="filePublishTime"    column="file_publish_time"    />
        <result property="fileImpTime"    column="file_imp_time"    />
        <result property="unscrambleName"    column="unscramble_name"    />
        <result property="unitName"    column="unit_name"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="cdOperation"    column="cd_operation"    />
        <result property="resource"    column="resource"    />
        <result property="policyName"    column="policy_name"    />
        <result property="policyNumber"    column="policy_number"    />
        <result property="remark"    column="remark"    />
        <result property="policySystem"    column="policy_system"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="drafter"    column="drafter"    />
        <result property="unscrambleUrl"    column="unscramble_url"    />
        <result property="fileOutId"    column="file_out_id"    />
        <result property="policyContentSi"    column="policy_content_si"    />
        <collection property="labelBaseInfoRepList" ofType="com.wzxc.kbengine.vo.RefLabelRep" javaType="java.util.ArrayList"
                    select="com.wzxc.kbengine.dao.ds1.RefLabelRepMapper.selectRefLabelRepList" column="{refId=id}"/>
    </resultMap>

    <resultMap type="com.wzxc.kbengine.vo.PolicyBaseInfoRep" id="PolicyBaseInfoRepResultSyn">
        <result property="id"    column="id"    />
        <result property="policyId"    column="policy_id"    />
        <result property="policyType"    column="policy_type"    />
        <result property="fileObjectStr"    column="file_object_list"    />
        <result property="filePublishTime"    column="file_publish_time"    />
        <result property="fileImpTime"    column="file_imp_time"    />
        <result property="unscrambleName"    column="unscramble_name"    />
        <result property="unitName"    column="unit_name"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="cdOperation"    column="cd_operation"    />
        <result property="resource"    column="resource"    />
        <result property="policyName"    column="policy_name"    />
        <result property="policyNumber"    column="policy_number"    />
        <result property="remark"    column="remark"    />
        <result property="policySystem"    column="policy_system"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="drafter"    column="drafter"    />
        <result property="unscrambleUrl"    column="unscramble_url"    />
        <result property="fileOutId"    column="file_out_id"    />
        <result property="tkFlag"    column="tkFlag"    />
        <result property="policyContent"    column="policy_content"    />
    </resultMap>

    <sql id="selectPolicyBaseInfoRepVo">
        select id, policy_id, policy_type, file_object_list, file_publish_time, file_imp_time, unscramble_name, unit_name, unit_code, create_time, update_time, creator, updator, cd_operation, resource, policy_name, policy_number, remark, policy_system, policy_status, drafter, unscramble_url, file_out_id, policy_content, policy_content_si from policy_base_info_rep
    </sql>

    <sql id="selectPolicyBaseInfoRepVo_a">
        select a.id, a.policy_id, a.policy_type, a.file_object_list, a.file_publish_time, a.file_imp_time, a.unscramble_name, a.unit_name, a.unit_code, a.create_time, a.update_time, a.creator, a.updator, a.cd_operation, a.resource, a.policy_name, a.policy_number, a.remark, a.policy_system, a.policy_status, a.drafter, a.unscramble_url, a.file_out_id from policy_base_info_rep a
    </sql>

    <sql id="selectPolicyBaseInfoRepVo_tkId">
        select case when a.id in (
            select distinct policy_rep_id from tk_policy_rep
            <where>
                <if test="tkBaseInfoId != null and tkBaseInfoId != ''">tk_base_info_id = #{tkBaseInfoId}</if>
                <if test="taskId != null and taskId != ''">or tk_base_info_id = (select id from szzf_db.tk_base_info where task_id = #{taskId})</if>
            </where>
        ) then 1 else 0 end as tkFlag, a.id, a.policy_id, a.policy_type, a.file_object_list, a.file_publish_time, a.file_imp_time, a.unscramble_name, a.unit_name, a.unit_code, a.create_time, a.update_time, a.creator, a.updator, a.cd_operation, a.resource, a.policy_name, a.policy_number, a.remark, a.policy_system, a.policy_status, a.drafter, a.unscramble_url, a.file_out_id from policy_base_info_rep a
    </sql>

    <select id="selectPolicyBaseInfoRepList" parameterType="PolicyBaseInfoRep" resultMap="PolicyBaseInfoRepResult">
        <include refid="selectPolicyBaseInfoRepVo"/>
        <where>
            resource not in ('省平台录入')
            <if test="id != null"> and id = #{id}</if>
            <if test="policyId != null  and policyId != ''"> and policy_id = #{policyId}</if>
            <if test="policyType != null or policyType == 0"> and policy_type = #{policyType}</if>
            <if test="publishTimeBegin != null "> and file_publish_time >= #{publishTimeBegin}</if>
            <if test="publishTimeEnd != null "> and file_publish_time &lt;= #{publishTimeEnd}</if>
            <if test="fileImpTime != null "> and file_imp_time = #{fileImpTime}</if>
            <if test="unscrambleName != null  and unscrambleName != ''"> and unscramble_name like concat('%', #{unscrambleName}, '%')</if>
            <if test="unitName != null and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="unitCode != null and unitCode != ''"> and unit_code = #{unitCode}</if>
            <if test="creator != null and creator != ''"> and creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
            <if test="resource != null  and resource != ''"> and resource = #{resource}</if>
            <if test="policyName != null  and policyName != ''"> and policy_name like concat('%', #{policyName}, '%')</if>
            <if test="policyNumber != null  and policyNumber != ''"> and policy_number = #{policyNumber}</if>
            <if test="policySystem != null  and policySystem != '' or policySystem == 0"> and policy_system = #{policySystem}</if>
            <if test="policyStatus != null or policyStatus == 0"> and policy_status = #{policyStatus}</if>
            <if test="drafter != null  and drafter != ''"> and drafter like concat('%', #{drafter}, '%')</if>
            <if test="unscrambleUrl != null  and unscrambleUrl != ''"> and unscramble_url = #{unscrambleUrl}</if>
            <if test="isValid != null"> and is_valid = #{isValid}</if>
            <if test="keyword != null  and keyword != ''"> and (policy_name like concat('%', #{keyword}, '%') or policy_number like concat('%', #{keyword}, '%'))</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectPolicyBaseInfoRepById" parameterType="Long" resultMap="PolicyBaseInfoRepResult">
        <include refid="selectPolicyBaseInfoRepVo"/>
        where id = #{id}
    </select>

    <!--  根据任务id查询政策列表  -->
    <select id="selectPolicyBaseInfoRepListByTkId" parameterType="PolicyBaseInfoRep" resultMap="PolicyBaseInfoRepResult">
        <include refid="selectPolicyBaseInfoRepVo_tkId"/>
        <where>
            a.resource not in ('省平台录入')
            <if test="id != null"> and a.id = #{id}</if>
            <if test="policyId != null  and policyId != ''"> and a.policy_id = #{policyId}</if>
            <if test="policyType != null or policyType == 0"> and a.policy_type = #{policyType}</if>
            <if test="publishTimeBegin != null "> and a.file_publish_time >= #{publishTimeBegin}</if>
            <if test="publishTimeEnd != null "> and a.file_publish_time &lt;= #{publishTimeEnd}</if>
            <if test="fileImpTime != null "> and a.file_imp_time = #{fileImpTime}</if>
            <if test="unscrambleName != null  and unscrambleName != ''"> and a.unscramble_name like concat('%', #{unscrambleName}, '%')</if>
            <if test="unitName != null  and unitName != ''"> and a.unit_name like concat('%', #{unitName}, '%')</if>
            <if test="unitCode != null  and unitCode != ''"> and a.unit_code = #{unitCode}</if>
            <if test="creator != null  and creator != ''"> and a.creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and a.updator = #{updator}</if>
            <if test="resource != null  and resource != ''"> and a.resource = #{resource}</if>
            <if test="policyName != null  and policyName != ''"> and a.policy_name like concat('%', #{policyName}, '%')</if>
            <if test="policyNumber != null  and policyNumber != ''"> and a.policy_number like concat('%', #{policyNumber}, '%')</if>
            <if test="policySystem != null  and policySystem != '' or policySystem == 0"> and a.policy_system = #{policySystem}</if>
            <if test="policyStatus != null or policyStatus == 0"> and a.policy_status = #{policyStatus}</if>
            <if test="drafter != null  and drafter != ''"> and a.drafter like concat('%', #{drafter}, '%')</if>
            <if test="unscrambleUrl != null  and unscrambleUrl != ''"> and a.unscramble_url = #{unscrambleUrl}</if>
            <if test="isValid != null"> and a.is_valid = #{isValid}</if>
            <if test="keyword != null  and keyword != ''"> and (a.policy_name like concat('%', #{keyword}, '%') or policy_number like concat('%', #{keyword}, '%'))</if>
        </where>
        order by tkFlag desc, a.create_time desc
    </select>

    <!--  只搜索任务相关的政策  -->
    <select id="selectPolicyBaseInfoRepByTkIdOnly" parameterType="PolicyBaseInfoRep" resultMap="PolicyBaseInfoRepResult">
        <include refid="selectPolicyBaseInfoRepVo_a"/>
        <where>
            a.resource not in ('省平台录入') and
            a.id in (
            select distinct policy_rep_id from tk_policy_rep
                <where>
                    <if test="tkBaseInfoId != null and tkBaseInfoId != ''">tk_base_info_id = #{tkBaseInfoId}</if>
                    <if test="taskId != null and taskId != ''">or tk_base_info_id = (select id from szzf_db.tk_base_info where task_id = #{taskId})</if>
                </where>
             )
            <if test="policyId != null and policyId != ''"> and a.policy_id = #{policyId}</if>
            <if test="policyType != null or policyType == 0"> and a.policy_type = #{policyType}</if>
            <if test="publishTimeBegin != null "> and a.file_publish_time >= #{publishTimeBegin}</if>
            <if test="publishTimeEnd != null "> and a.file_publish_time &lt;= #{publishTimeEnd}</if>
            <if test="fileImpTime != null "> and a.file_imp_time = #{fileImpTime}</if>
            <if test="unscrambleName != null  and unscrambleName != ''"> and a.unscramble_name like concat('%', #{unscrambleName}, '%')</if>
            <if test="unitName != null  and unitName != ''"> and a.unit_name like concat('%', #{unitName}, '%')</if>
            <if test="unitCode != null  and unitCode != ''"> and a.unit_code = #{unitCode}</if>
            <if test="creator != null  and creator != ''"> and a.creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and a.updator = #{updator}</if>
            <if test="resource != null  and resource != ''"> and a.resource = #{resource}</if>
            <if test="policyName != null  and policyName != ''"> and a.policy_name like concat('%', #{policyName}, '%')</if>
            <if test="policyNumber != null  and policyNumber != ''"> and a.policy_number like concat('%', #{policyNumber}, '%')</if>
            <if test="policySystem != null  and policySystem != '' or policySystem == 0"> and a.policy_system = #{policySystem}</if>
            <if test="policyStatus != null or policyStatus == 0"> and a.policy_status = #{policyStatus}</if>
            <if test="drafter != null  and drafter != ''"> and a.drafter like concat('%', #{drafter}, '%')</if>
            <if test="unscrambleUrl != null  and unscrambleUrl != ''"> and a.unscramble_url = #{unscrambleUrl}</if>
            <if test="isValid != null"> and a.is_valid = #{isValid}</if>
            <if test="keyword != null  and keyword != ''"> and (a.policy_name like concat('%', #{keyword}, '%') or policy_number like concat('%', #{keyword}, '%'))</if>
        </where>
        order by a.create_time desc
    </select>

<!--  查询需要同步附件的oa政策列表  -->
    <select id="selectSynFileFromOa" resultMap="PolicyBaseInfoRepResultSyn">
        <include refid="selectPolicyBaseInfoRepVo"/>
        where is_valid = 0 and resource = "OA" and file_out_id is not null and file_object_list is null
    </select>

    <!--  查询需要同步正文的oa政策列表  -->
    <select id="selectSynPolicyContentFromOa" resultMap="PolicyBaseInfoRepResultSyn">
        <include refid="selectPolicyBaseInfoRepVo"/>
        where is_valid = 0 and resource = "OA" and policy_content is not null and policy_content_si is null
    </select>

    <!--  查询所有来自oa需要同步政策附件（同步到policy_file_rep表）的政策列表  -->
    <select id="selectSynPolicyFileFromOa" resultMap="PolicyBaseInfoRepResultSyn">
        <include refid="selectPolicyBaseInfoRepVo"/>
        where resource = "OA" and file_object_list is not null and is_valid = 0
    </select>
        
    <insert id="insertPolicyBaseInfoRep" parameterType="PolicyBaseInfoRep" useGeneratedKeys="true" keyProperty="id">
        insert into policy_base_info_rep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="policyId != null and policyId != ''">policy_id,</if>
            <if test="policyType != null or policyType == 0">policy_type,</if>
            <if test="fileObjectStr != null and fileObjectStr != ''">file_object_list,</if>
            <if test="filePublishTime != null">file_publish_time,</if>
            <if test="fileImpTime != null">file_imp_time,</if>
            <if test="unscrambleName != null">unscramble_name,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="unitCode != null and unitCode != ''">unit_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="creator != null">creator,</if>
            <if test="updator != null and updator != ''">updator,</if>
            <if test="cdOperation != null">cd_operation,</if>
            <if test="resource != null">resource,</if>
            <if test="policyName != null">policy_name,</if>
            <if test="policyNumber != null">policy_number,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="policySystem != null or policySystem == 0">policy_system,</if>
            <if test="policyStatus != null or policyStatus == 0">policy_status,</if>
            <if test="drafter != null and drafter != ''">drafter,</if>
            <if test="unscrambleUrl != null">unscramble_url,</if>
            <if test="policyContentSi != null and policyContentSi != ''">policy_content_si,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="policyId != null and policyId != ''">#{policyId},</if>
            <if test="policyType != null or policyType == 0">#{policyType},</if>
            <if test="fileObjectStr != null and fileObjectStr != ''">#{fileObjectStr},</if>
            <if test="filePublishTime != null">#{filePublishTime},</if>
            <if test="fileImpTime != null">#{fileImpTime},</if>
            <if test="unscrambleName != null">#{unscrambleName},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="unitCode != null and unitCode != ''">#{unitCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="creator != null">#{creator},</if>
            <if test="updator != null and updator != ''">#{updator},</if>
            <if test="cdOperation != null">#{cdOperation},</if>
            <if test="resource != null">#{resource},</if>
            <if test="policyName != null">#{policyName},</if>
            <if test="policyNumber != null">#{policyNumber},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="policySystem != null or policySystem == 0">#{policySystem},</if>
            <if test="policyStatus != null or policyStatus == 0">#{policyStatus},</if>
            <if test="drafter != null and drafter != ''">#{drafter},</if>
            <if test="policyContentSi != null and policyContentSi != ''">#{policyContentSi},</if>
         </trim>
    </insert>

    <update id="updatePolicyBaseInfoRep" parameterType="PolicyBaseInfoRep">
        update policy_base_info_rep
        <trim prefix="SET" suffixOverrides=",">
            <if test="policyId != null and policyId != ''">policy_id = #{policyId},</if>
            <if test="policyType != null and policyType != ''">policy_type = #{policyType},</if>
            <if test="fileObjectStr != null and fileObjectStr != ''">file_object_list = #{fileObjectStr},</if>
            <if test="filePublishTime != null">file_publish_time = #{filePublishTime},</if>
            <if test="fileImpTime != null">file_imp_time = #{fileImpTime},</if>
            <if test="unscrambleName != null">unscramble_name = #{unscrambleName},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="unitCode != null and unitCode != ''">unit_code = #{unitCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="updator != null and updator != ''">updator = #{updator},</if>
            <if test="cdOperation != null">cd_operation = #{cdOperation},</if>
            <if test="resource != null">resource = #{resource},</if>
            <if test="policyName != null">policy_name = #{policyName},</if>
            <if test="policyNumber != null">policy_number = #{policyNumber},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="policySystem != null">policy_system = #{policySystem},</if>
            <if test="policyStatus != null">policy_status = #{policyStatus},</if>
            <if test="drafter != null and drafter != ''">drafter = #{drafter},</if>
            <if test="unscrambleUrl != null">unscramble_url = #{unscrambleUrl},</if>
            <if test="policyContentSi != null and policyContentSi != ''">policy_content_si = #{policyContentSi},</if>
        </trim>
        where id = #{id}
    </update>

<!--  批量修改附件信息  -->
    <update id="updateBatchFileObjectList" parameterType="java.util.List">
        update policy_base_info_rep
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="file_object_list = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.fileObjectStr !=null and item.fileObjectStr != '' ">
                        when id = #{item.id} then #{item.fileObjectStr}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <!--  批量修改正文  -->
    <update id="updateBatchPolicyContentList" parameterType="java.util.List">
        update policy_base_info_rep
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="policy_content_si = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.policyContentSi !=null and item.policyContentSi != '' ">
                        when id = #{item.id} then #{item.policyContentSi}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
    <update id="updatePolicyContentSi">
        update policy_base_info_rep set policy_content_si = #{policyContentSi} where id = #{id}
    </update>

    <delete id="deletePolicyBaseInfoRepById" parameterType="PolicyBaseInfoRep">
        update policy_base_info_rep set is_valid = 1, update_time = #{updateTime}, updator = #{updator} where id = #{id}
    </delete>

    <delete id="deletePolicyBaseInfoRepByIds" parameterType="String">
        delete from policy_base_info_rep where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--  政策批导入  -->
    <insert id="insertBatch" parameterType="com.wzxc.common.core.dao.InsertBatchCommon">
            INSERT INTO
            <foreach collection ="fieldList" index="index" item="field" separator ="," open="policy_base_info_rep(" close=")">
                ${field}
            </foreach>
            VALUES
            <foreach collection ="contentList" index="index" item="rowList" separator =",">
                <foreach collection="rowList" index="index" item="item" separator ="," open="(" close=")">
                    #{item}
                </foreach>
            </foreach>
    </insert>

</mapper>