<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.kbengine.dao.ds1.QsBaseInfoRepMapper">
    
    <resultMap type="com.wzxc.kbengine.vo.QsBaseInfoRep" id="QsBaseInfoRepResult">
        <result property="id"    column="id"    />
        <result property="qTitle"    column="q_title"    />
        <result property="qDes"    column="q_des"    />
        <result property="qAnswer"    column="q_answer"    />
        <result property="qSystem"    column="q_system"    />
        <result property="qPermission"    column="q_permission"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="resource"    column="resource"    />
        <result property="isValid"    column="is_valid"    />
    </resultMap>

    <sql id="selectQsBaseInfoRepVo">
        select id, q_title, q_des, q_answer, q_system, q_permission, status, create_time, update_time, creator, updator, resource, is_valid from qs_base_info_rep
    </sql>

    <select id="selectQsBaseInfoRepList" parameterType="QsBaseInfoRep" resultMap="QsBaseInfoRepResult">
        <include refid="selectQsBaseInfoRepVo"/>
        <where>
            is_valid = 0
            <if test="qTitle != null  and qTitle != ''"> and q_title like '%${qTitle}%'</if>
            <if test="qDes != null  and qDes != ''"> and q_des like '%${qDes}%'</if>
            <if test="qAnswer != null  and qAnswer != ''"> and q_answer like '%${qAnswer}%'</if>
            <if test="qSystem != null "> and q_system = #{qSystem}</if>
            <if test="qPermission != null "> and q_permission = #{qPermission}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isValid != null "> and is_valid = #{isValid}</if>
        </where>
    </select>
    
    <select id="selectQsBaseInfoRepById" parameterType="Long" resultMap="QsBaseInfoRepResult">
        <include refid="selectQsBaseInfoRepVo"/>
        where id = #{id} and is_valid = 0
    </select>
        
    <insert id="insertQsBaseInfoRep" parameterType="QsBaseInfoRep" useGeneratedKeys="true" keyProperty="id">
        insert into qs_base_info_rep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qTitle != null and qTitle != ''">q_title,</if>
            <if test="qDes != null">q_des,</if>
            <if test="qAnswer != null">q_answer,</if>
            <if test="qSystem != null">q_system,</if>
            <if test="qPermission != null">q_permission,</if>
            <if test="status != null">status,</if>
            <if test="creator != null and creator != ''">creator,</if>
            <if test="updator != null">updator,</if>
            <if test="resource != null">resource,</if>
            <if test="isValid != null">is_valid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qTitle != null and qTitle != ''">#{qTitle},</if>
            <if test="qDes != null">#{qDes},</if>
            <if test="qAnswer != null">#{qAnswer},</if>
            <if test="qSystem != null">#{qSystem},</if>
            <if test="qPermission != null">#{qPermission},</if>
            <if test="status != null">#{status},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="updator != null">#{updator},</if>
            <if test="resource != null">#{resource},</if>
            <if test="isValid != null">#{isValid},</if>
         </trim>
    </insert>

    <update id="updateQsBaseInfoRep" parameterType="QsBaseInfoRep">
        update qs_base_info_rep
        <trim prefix="SET" suffixOverrides=",">
            <if test="qTitle != null and qTitle != ''">q_title = #{qTitle},</if>
            <if test="qDes != null">q_des = #{qDes},</if>
            <if test="qAnswer != null">q_answer = #{qAnswer},</if>
            <if test="qSystem != null">q_system = #{qSystem},</if>
            <if test="qPermission != null">q_permission = #{qPermission},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="resource != null">resource = #{resource},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteQsBaseInfoRepById" parameterType="Long">
        update qs_base_info_rep set is_valid = 1 where id = #{id}
    </update>

    <delete id="deleteQsBaseInfoRepByIds" parameterType="String">
        delete from qs_base_info_rep where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--  FAQ批导入  -->
    <insert id="insertBatch" parameterType="com.wzxc.common.core.dao.InsertBatchCommon">
        INSERT INTO
        <foreach collection ="fieldList" index="index" item="field" separator ="," open="qs_base_info_rep(" close=")">
            ${field}
        </foreach>
        VALUES
        <foreach collection ="contentList" index="index" item="rowList" separator =",">
            <foreach collection="rowList" index="index" item="item" separator ="," open="(" close=")">
                #{item}
            </foreach>
        </foreach>
    </insert>

</mapper>