<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.kbengine.dao.ds1.StatisticRptRepMapper">
    <resultMap type="com.wzxc.kbengine.vo.StatisticRptRep" id="StatisticRptRepResult">
        <result property="id"    column="id"    />
        <result property="orgName"    column="org_name"    />
        <result property="taskPathName"    column="task_path_name"    />
        <result property="taskName"    column="task_name"    />
        <result property="taskLevel"    column="task_level"    />
        <result property="quotaCount"    column="quotaCount"    />
        <result property="reformCount"    column="reformCount"    />
        <result property="planCount"    column="planCount"    />
        <result property="policyCount"    column="policyCount"    />
        <result property="fullName"    column="full_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="taskSystem"    column="task_system"    />
        <result property="orgCode"    column="org_code"    />
        <result property="taskIdPath"    column="task_id_path"    />
        <result property="taskMaintainerId"    column="task_maintainer_id"    />
        <result property="taskSource"    column="task_source"    />

    </resultMap>

    <select id="selectStatisticRptRepList" parameterType="StatisticRptRep" resultMap="StatisticRptRepResult">
        select * from (select tbi.id,so.org_name ,replace(tpno.task_path_name,',','/' ) as task_path_name ,tbi.task_name ,tbi.task_level ,
        ifnull(tqr1.quotaCount, 0) as quotaCount,ifnull(trd1.reformCount,0) as reformCount ,ifnull(tp1.planCount,0) as planCount ,
        ifnull(tpr1.policyCount,0) as policyCount ,su.full_name ,su.mobile ,
        (case
        when (tbi.task_system = 0) then '党政机关整体智治系统'
        when (tbi.task_system = 1) then '数字政府系统'
        when (tbi.task_system = 2) then '数字社会系统'
        when (tbi.task_system = 3) then '数字经济系统'
        when (tbi.task_system = 4) then '数字法制系统'
        end) as task_system ,
        (case
        when (tbi.task_source = 1) then '省级'
        when (tbi.task_source = 2) then '市级'
        when (tbi.task_source = 3) then '区县级'
        when (tbi.task_source = 4) then '街道级'
        when (tbi.task_source = 5) then '社区级'
        end) as task_source ,tbi.org_code ,tbi.task_id_path ,tbi.task_maintainer_id
        from szzf_db.tk_base_info tbi
        left join kbengine.tk_path_name_oo tpno on tbi.task_id = tpno.task_id
        left join cityos_user.sys_user su on tbi.task_maintainer_id = su.EMPLOYEE_ID
        left join (select trd.tk_base_info_id as id,count(0) as reformCount
        from cityos_task.tk_reform_detail trd group by trd.tk_base_info_id ) trd1 on tbi.id = trd1.id
        left join (select tqr.tk_base_info_id as id,count(0) as quotaCount
        from cityos_task.tk_quota_relation tqr group by tqr.tk_base_info_id) tqr1 on tbi.id = tqr1.id
        left join (select tp.tk_base_info_id as id,count(0) as planCount
        from cityos_task.tk_plan tp group by tp.tk_base_info_id) tp1 on tbi.id = tp1.id
        left join (select tpr.tk_base_info_id as id,count(0) as policyCount
        from kbengine.tk_policy_rep tpr group by tpr.tk_base_info_id) tpr1 on tbi.id = tpr1.id
        left join cityos_user.sys_organization so on tbi.org_code = so.org_code
        where ((tbi.task_process_status != 4) and (tbi.valid_flag = 1))
        <if test="orgCode != null  and orgCode != ''"> and tbi.org_code in (${orgCode})</if>
        <if test="taskSystem != null  and taskSystem != ''"> and tbi.task_system in (${taskSystem})</if>
        <if test="taskLevel != null  and taskLevel != '' and taskLevel.indexOf('5') == -1"> and tbi.task_level in (${taskLevel})</if>
        <if test="taskLevel != null  and taskLevel != '' and taskLevel.indexOf('5') != -1"> and (tbi.task_level in (${taskLevel}) or tbi.task_level > 5)</if>
        <if test="taskSource != null  and taskSource != ''"> and tbi.task_source in (${taskSource})</if>
        <if test="taskName != null  and taskName != ''"> and tbi.task_name like concat('%', #{taskName}, '%')</if>) tbiList
         where 1=1
        <if test="quotaCount != null  and quotaCount == ''"> and tbiList.quotaCount = 0</if>
        <if test="quotaCount != null  and quotaCount ==1 "> and tbiList.quotaCount > 0</if>
        <if test="policyCount != null  and policyCount == ''"> and tbiList.policyCount = 0</if>
        <if test="policyCount != null  and policyCount == 1"> and tbiList.policyCount > 0</if>

        order by tbiList.task_id_path
    </select>
</mapper>