<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.kbengine.dao.ds1.TkPolicyRepMapper">
    
    <resultMap type="com.wzxc.kbengine.vo.TkPolicyRep" id="TkPolicyRepResult">
        <result property="id"    column="id"    />
        <result property="tkBaseInfoId"    column="tk_base_info_id"    />
        <result property="policyRepId"    column="policy_rep_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
    </resultMap>

    <sql id="selectTkPolicyRepVo">
        select id, tk_base_info_id, policy_rep_id, create_time, update_time remark, creator, updator from tk_policy_rep
    </sql>

    <select id="selectTkPolicyRepList" parameterType="com.wzxc.kbengine.vo.TkPolicyRep" resultMap="TkPolicyRepResult">
        <include refid="selectTkPolicyRepVo"/>
        <where>  
            <if test="tkBaseInfoId != null "> and tk_base_info_id = #{tkBaseInfoId}</if>
            <if test="policyRepId != null "> and policy_rep_id = #{policyRepId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTkPolicyRepById" parameterType="Long" resultMap="TkPolicyRepResult">
        <include refid="selectTkPolicyRepVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTkPolicyRep" parameterType="com.wzxc.kbengine.vo.TkPolicyRep" useGeneratedKeys="true" keyProperty="id">
        insert into tk_policy_rep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tkBaseInfoId != null">tk_base_info_id,</if>
            <if test="policyRepId != null">policy_rep_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="creator != null and creator != ''">creator,</if>
            <if test="updator != null">updator,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tkBaseInfoId != null">#{tkBaseInfoId},</if>
            <if test="policyRepId != null">#{policyRepId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="updator != null">#{updator},</if>
         </trim>
    </insert>

    <update id="updateTkPolicyRep" parameterType="com.wzxc.kbengine.vo.TkPolicyRep">
        update tk_policy_rep
        <trim prefix="SET" suffixOverrides=",">
            <if test="tkBaseInfoId != null">tk_base_info_id = #{tkBaseInfoId},</if>
            <if test="policyRepId != null">policy_rep_id = #{policyRepId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="unitName != null and unitName != ''">unit_name = #{unitName},</if>
            <if test="unitCode != null">unit_code = #{unitCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTkPolicyRepById" parameterType="com.wzxc.kbengine.vo.TkPolicyRep">
        delete from tk_policy_rep where id = #{id}
    </delete>

    <delete id="deleteTkPolicyRepByIds" parameterType="String">
        delete from tk_policy_rep where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--  删除与任务关联的政策  -->
    <delete id="deleteTkPolicyRepByPolicyId">
        delete from tk_policy_rep where policy_rep_id in
        <foreach item="policyId" collection="policyBaseInfoIds" open="(" separator="," close=")">
            #{policyId}
        </foreach>
        and tk_base_info_id = #{tkBaseInfoId}
    </delete>

<!--  通过任务id删除关联  -->
    <delete id="deleteTkPolicyRepByTkId" parameterType="Long">
        delete from tk_policy_rep where tk_base_info_id = #{id}
    </delete>

</mapper>