<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.zzdpush.dao.ds1.HhlZzdPushHisMapper">
    <resultMap type="com.wzxc.zzdpush.vo.HhlZzdPushHis" id="HhlZzdPushHisResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="pushTime"    column="push_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="messageId"    column="message_id"    />
        <result property="creator"    column="creator"    />
        <result property="copyFor"    column="copy_for"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectHhlZzdPushHisVo">
        select id, content, push_time, create_time, message_id, creator, copy_for, status, content_simple from hhl_zzd_push_his
    </sql>

    <select id="selectHhlZzdPushHisList" parameterType="HhlZzdPushHis" resultMap="HhlZzdPushHisResult">
        <include refid="selectHhlZzdPushHisVo"/>
        <where>
            <if test="keyword != null and keyword != ''"> and content_simple like "%${keyword}%"</if>
            <if test="messageId != null and messageId != ''"> and message_id = #{messageId}</if>
            <if test="creator != null and creator != ''"> and creator = #{creator}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="pushDateBegin != null"> and push_time &gt;= #{pushDateBegin}</if>
            <if test="pushDateEnd != null"> and push_time &lt;= #{pushDateEnd}</if>
        </where>
    </select>

    <select id="selectHhlZzdPushHisById" parameterType="Long" resultMap="HhlZzdPushHisResult">
        <include refid="selectHhlZzdPushHisVo"/>
        where id = #{id}
    </select>

    <select id="selectHhlZzdPushHisByMessageId" parameterType="string" resultMap="HhlZzdPushHisResult">
        <include refid="selectHhlZzdPushHisVo"/>
        where message_id = #{bizMsgId}
    </select>

    <insert id="insertHhlZzdPushHis" parameterType="HhlZzdPushHis">
        insert into hhl_zzd_push_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="content != null">content,</if>
            <if test="contentSimple != null">content_simple,</if>
            <if test="pushTime != null">push_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="messageId != null">message_id,</if>
            <if test="creator != null">creator,</if>
            <if test="copyFor != null">copy_for,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="content != null">#{content},</if>
            <if test="contentSimple != null">#{contentSimple},</if>
            <if test="pushTime != null">#{pushTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="messageId != null">#{messageId},</if>
            <if test="creator != null">#{creator},</if>
            <if test="copyFor != null">#{copyFor},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateHhlZzdPushHis" parameterType="HhlZzdPushHis">
        update hhl_zzd_push_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="contentSimple != null">content_simple = #{contentSimple},</if>
            <if test="pushTime != null">push_time = #{pushTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="copyFor != null">copy_for = #{copyFor},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHhlZzdPushHisById" parameterType="Long">
        delete from hhl_zzd_push_his where id = #{id}
    </delete>

    <delete id="deleteHhlZzdPushHisByIds" parameterType="String">
        delete from hhl_zzd_push_his where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>