<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.busi.dao.LeagueActivityMapper">
    
    <resultMap type="LeagueActivity" id="LeagueActivityResult">
        <result property="activityBegin"    column="activity_begin"    />
        <result property="activityEnd"    column="activity_end"    />
        <result property="activityType"    column="activity_type"    />
        <result property="address"    column="address"    />
        <result property="content"    column="content"    />
        <result property="hostman"    column="hostman"    />
        <result property="id"    column="id"    />
        <result property="nickname"    column="nickname"    />
        <result property="rangeIndustry"    column="range_industry"    />
        <result property="rangeRegion"    column="range_region"    />
        <result property="signBegin"    column="sign_begin"    />
        <result property="signEnd"    column="sign_end"    />
        <result property="creater"    column="creater"    />
        <result property="isSign"    column="is_sign"    />
        <result property="lat"    column="lat"    />
        <result property="lon"    column="lon"    />
        <result property="signRange"    column="sign_range"    />
    </resultMap>

    <sql id="selectLeagueActivityVo">
        select activity_begin, activity_end, activity_type, address, content, hostman, id, nickname, range_industry, range_region, sign_begin, sign_end, creater, is_sign, lat, lon, sign_range from dsjkb_test.league_activity
    </sql>

    <select id="selectLeagueActivityById" parameterType="Long" resultMap="LeagueActivityResult">
        <include refid="selectLeagueActivityVo"/>
        WHERE id = #{id}
    </select>

    <select id="selectLeagueActivityList" parameterType="LeagueActivity" resultMap="LeagueActivityResult">
        <include refid="selectLeagueActivityVo"/>
        <where>  
            <if test="activityBegin != null "> and activity_begin >= #{activityBegin}</if>
            <if test="activityEnd != null "> and activity_end &lt;= #{activityEnd}</if>
            <if test="activityType != null "> and activity_type = #{activityType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="hostman != null "> and hostman = #{hostman}</if>
            <if test="id != null "> and id = #{id}</if>
            <if test="nickname != null  and nickname != ''"> and nickname = #{nickname}</if>
            <if test="rangeIndustry != null  and rangeIndustry != ''"> and range_industry = #{rangeIndustry}</if>
            <if test="rangeRegion != null  and rangeRegion != ''"> and range_region = #{rangeRegion}</if>
            <if test="signBegin != null "> and sign_begin >= #{signBegin}</if>
            <if test="signEnd != null "> and sign_end &lt;= #{signEnd}</if>
            <if test="isSign != null "> and is_sign = #{isSign}</if>
        </where>
        order by create_time desc
    </select>

    <!--  活动报名列表  -->
    <select id="selectRegisterLeagueActivityList" resultMap="LeagueActivityResult">
        <include refid="selectLeagueActivityVo"/>
        <where>
            activity_begin >= sysdate()
            and (find_in_set(#{commissinor.industryId}, range_industry) is not null and find_in_set(#{commissinor.industryId}, range_industry) != 0)
            and (find_in_set(#{commissinor.location}, range_region) is not null and find_in_set(#{commissinor.location}, range_region) != 0)
            and id not in (select activity_id from dsjkb_test.league_act_register where commissinor_id = #{commissinor.id})
        </where>
        order by create_time desc
    </select>
        
    <insert id="insertLeagueActivity" parameterType="LeagueActivity" useGeneratedKeys="true" keyProperty="id">
        insert into dsjkb_test.league_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityBegin != null">activity_begin,</if>
            <if test="activityEnd != null">activity_end,</if>
            <if test="activityType != null">activity_type,</if>
            <if test="address != null">address,</if>
            <if test="content != null">content,</if>
            <if test="hostman != null">hostman,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="rangeIndustry != null">range_industry,</if>
            <if test="rangeRegion != null">range_region,</if>
            <if test="signBegin != null">sign_begin,</if>
            <if test="signEnd != null">sign_end,</if>
            <if test="creater != null and creater != ''">creater,</if>
            <if test="isSign != null ">is_sign,</if>
            <if test="lat != null ">lat,</if>
            <if test="lon != null ">lon,</if>
            <if test="signRange != null ">sign_range,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityBegin != null">#{activityBegin},</if>
            <if test="activityEnd != null">#{activityEnd},</if>
            <if test="activityType != null">#{activityType},</if>
            <if test="address != null">#{address},</if>
            <if test="content != null">#{content},</if>
            <if test="hostman != null">#{hostman},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="rangeIndustry != null">#{rangeIndustry},</if>
            <if test="rangeRegion != null">#{rangeRegion},</if>
            <if test="signBegin != null">#{signBegin},</if>
            <if test="signEnd != null">#{signEnd},</if>
            <if test="creater != null and creater != ''">#{creater},</if>
            <if test="isSign != null ">#{isSign},</if>
            <if test="lat != null ">#{lat},</if>
            <if test="lon != null ">#{lon},</if>
            <if test="signRange != null ">#{signRange},</if>
         </trim>
    </insert>

    <update id="updateLeagueActivity" parameterType="LeagueActivity">
        update dsjkb_test.league_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityBegin != null">activity_begin = #{activityBegin},</if>
            <if test="activityEnd != null">activity_end = #{activityEnd},</if>
            <if test="activityType != null">activity_type = #{activityType},</if>
            <if test="address != null">address = #{address},</if>
            <if test="content != null">content = #{content},</if>
            <if test="hostman != null">hostman = #{hostman},</if>
            <if test="id != null">id = #{id},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="rangeIndustry != null">range_industry = #{rangeIndustry},</if>
            <if test="rangeRegion != null">range_region = #{rangeRegion},</if>
            <if test="signBegin != null">sign_begin = #{signBegin},</if>
            <if test="signEnd != null">sign_end = #{signEnd},</if>
            <if test="isSign != null ">is_sign = #{isSign},</if>
            <if test="lat != null ">lat = #{lat},</if>
            <if test="lon != null ">lon = #{lon},</if>
            <if test="signRange != null ">sign_range = #{signRange},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>