package ${cfg.packageName}.controller;

import java.io.IOException;
import java.text.SimpleDateFormat;
import java.util.Date;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.wzxc.common.annotation.CheckParam;
import com.wzxc.common.annotation.CheckParams;
import com.wzxc.common.core.controller.BaseController;
import com.wzxc.common.core.domain.BusiResult;
import com.wzxc.common.utils.DateUtils;
import com.wzxc.common.validate.Check;
import ${cfg.packageName}.vo.${cfg.voName};
import io.swagger.annotations.*;
import jdk.nashorn.internal.objects.annotations.Getter;
import net.bytebuddy.asm.Advice;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.*;
import ${cfg.packageName}.service.impl.${cfg.voName}ServiceImpl;
import springfox.documentation.annotations.ApiIgnore;

/**
 * 前端控制器 【请填写功能名称】
 * 
 * @author ${cfg.author}
 * @date ${cfg.datetime}
 */
@RestController
@CrossOrigin
@RequestMapping("/${cfg.moudleName}")
@Api(tags="【请填写功能名称】")
public class ${cfg.voName}Controller extends BaseController {

    @Autowired
    private ${cfg.voName}ServiceImpl ${cfg.moudleName}Service;

    /**
     * 查询列表【请填写功能名称】
     */
    @ApiOperation(value = "查询列表", notes = "查询列表", httpMethod = "POST")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "pageNum", value = "页数（默认第1页）", required = false, paramType = "query", dataType="int"),
            @ApiImplicitParam(name = "pageSize", value = "每页条数（默认10条）", required = false, paramType = "query", dataType="int"),
        #foreach($field in ${cfg.fields})
            #set($fieldName=$field.fieldName)
            #set($javaField=$field.javaField)
            #set($columnComment=$field.columnComment)
            #set($javaType=$field.javaType)
                @ApiImplicitParam(name = "$javaField", value = "$columnComment", required = false, paramType = "query", dataType="$javaType"),
        #end
    })
    @ApiResponses({
            @ApiResponse(code = 13000, message = "OK", response = ${cfg.voName}.class),
            @ApiResponse(code = 13500, message = "ERROR")
    })
    @PostMapping("/list")
    public BusiResult list(@RequestBody @ApiIgnore ${cfg.voName} ${cfg.moudleName}) throws IOException {
        Map<String, Object> resultMap = new HashMap<>();
        startPage();
        List<${cfg.voName}> list = ${cfg.moudleName}Service.select${cfg.voName}List(${cfg.moudleName});
        buildTableInfo(list, resultMap);
        return BusiResult.success("查询成功", resultMap);
    }

    /**
    * 查询详情【请填写功能名称】
    *
    * @param id
    * @return
    */
    @ApiOperation(value = "查询详情", notes = "查询详情", httpMethod = "GET")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", value = "系统主键", required = true, paramType = "query", dataType="int"),
    })
    @ApiResponses({
            @ApiResponse(code = 13000, message = "OK", response = ${cfg.voName}.class),
            @ApiResponse(code = 13500, message = "ERROR")
    })
    @GetMapping("/detail/{id}")
    public Object getById(@PathVariable Integer id) {
        Map<String, Object> resultMap = new HashMap<>();
        ${cfg.voName} ${cfg.moudleName} = ${cfg.moudleName}Service.getById(id);
        if(${cfg.moudleName} == null){
            return BusiResult.error("查询失败");
        }
        resultMap.put("data", ${cfg.moudleName});
        return BusiResult.success("查询成功", resultMap);
    }

    /**
     * 新增记录【请填写功能名称】
     */
    @ApiOperation(value = "新增记录", notes = "新增记录", httpMethod = "POST")
    @ApiImplicitParams({
        #foreach($field in ${cfg.fields})
            #set($fieldName=$field.fieldName)
            #set($javaField=$field.javaField)
            #set($columnComment=$field.columnComment)
            #set($javaType=$field.javaType)
                @ApiImplicitParam(name = "$javaField", value = "$columnComment", required = false, paramType = "query", dataType="$javaType"),
        #end
    })
    @ApiResponses({
            @ApiResponse(code = 13000, message = "OK"),
            @ApiResponse(code = 13500, message = "ERROR")
    })
    @CheckParams({
            @CheckParam(value = Check.NotNull, argName = "【参数名称 例：${cfg.moudleName}.id】", msg = "【错误信息】"),
    })
    @PostMapping("/add")
    public BusiResult add(@RequestBody @ApiIgnore ${cfg.voName} ${cfg.moudleName})
    {
        int isSuccess = ${cfg.moudleName}Service.insert${cfg.voName}(${cfg.moudleName});
        if(isSuccess == 0){
            return BusiResult.error("新增失败");
        }
        return BusiResult.success("新增成功");
    }

    /**
     * 修改记录【请填写功能名称】
     */
    @ApiOperation(value = "修改记录", notes = "修改记录", httpMethod = "POST")
    @ApiImplicitParams({
        #foreach($field in ${cfg.fields})
            #set($fieldName=$field.fieldName)
            #set($javaField=$field.javaField)
            #set($columnComment=$field.columnComment)
            #set($javaType=$field.javaType)
                @ApiImplicitParam(name = "$javaField", value = "$columnComment", required = false, paramType = "query", dataType="$javaType"),
        #end
    })
    @ApiResponses({
            @ApiResponse(code = 13000, message = "OK"),
            @ApiResponse(code = 13500, message = "ERROR")
    })
    @CheckParams({
            @CheckParam(value = Check.NotNull, argName = "${cfg.moudleName}.id", msg = "缺少系统主键（id）"),
    })
    @PostMapping("/edit")
    public BusiResult edit(@RequestBody @ApiIgnore ${cfg.voName} ${cfg.moudleName}) {
        int isSuccess = ${cfg.moudleName}Service.update${cfg.voName}(${cfg.moudleName});
        if(isSuccess == 0){
            return BusiResult.error("修改失败");
        }
        return BusiResult.success("修改成功");
    }

    /**
     * 删除记录【请填写功能名称】
     */
    @ApiOperation(value = "删除记录（物理删除）", notes = "删除记录（物理删除）", httpMethod = "POST")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", value = "系统主键", required = true, paramType = "query", dataType="long"),
    })
    @ApiResponses({
            @ApiResponse(code = 13000, message = "OK"),
            @ApiResponse(code = 13500, message = "ERROR")
    })
    @GetMapping("/remove/{id}")
    public BusiResult remove(@PathVariable Long id) {
        boolean isSuccess = ${cfg.moudleName}Service.removeById(id);
        if(!isSuccess){
            return BusiResult.error("删除失败");
        }
        return BusiResult.success("删除成功");
    }


}
