package ${cfg.packageName}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.wzxc.common.core.text.Convert;
import com.wzxc.common.utils.DateUtils;
import ${cfg.packageName}.dao.${cfg.voName}Mapper;
import ${cfg.packageName}.vo.${cfg.voName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${cfg.packageName}.service.I${cfg.voName}Service;

import java.util.List;

/**
 * <p>
 * 服务实现类 【请填写功能名称】
 * </p>
 *
 * @author ${cfg.author}
 * @date ${cfg.datetime}
 */
@Service
public class ${cfg.voName}ServiceImpl extends ServiceImpl<${cfg.voName}Mapper, ${cfg.voName}> implements I${cfg.voName}Service {

    @Autowired
    private ${cfg.voName}Mapper ${cfg.moudleName}Mapper;

    @Override
    public List<${cfg.voName}> select${cfg.voName}List(${cfg.voName} ${cfg.moudleName}) {
        return ${cfg.moudleName}Mapper.select${cfg.voName}List(${cfg.moudleName});
    }

    @Override
    public int insert${cfg.voName}(${cfg.voName} ${cfg.moudleName}) {
        return ${cfg.moudleName}Mapper.insert${cfg.voName}(${cfg.moudleName});
    }

    @Override
    public int insertWithDistinct(${cfg.voName} ${cfg.moudleName}) {
        return ${cfg.moudleName}Mapper.insertWithDistinct(${cfg.moudleName});
    }

    @Override
    public int update${cfg.voName}(${cfg.voName} ${cfg.moudleName}) {
        return ${cfg.moudleName}Mapper.update${cfg.voName}(${cfg.moudleName});
    }



}