<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.szwenzhou.dao.ds1.StatisticRptRepMapper">
    <resultMap type="com.wzxc.szwenzhou.vo.StatisticRptRep" id="StatisticRptRepResult">
        <result property="id"    column="id"    />
        <result property="orgName"    column="org_name"    />
        <result property="taskPathName"    column="task_path_name"    />
        <result property="taskName"    column="task_name"    />
        <result property="taskLevel"    column="task_level"    />
        <result property="quotaCount"    column="quotaCount"    />
        <result property="reformCount"    column="reformCount"    />
        <result property="planCount"    column="planCount"    />
        <result property="policyCount"    column="policyCount"    />
        <result property="fullName"    column="full_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="taskSystem"    column="task_system"    />
        <result property="orgCode"    column="org_code"    />
        <result property="taskIdPath"    column="task_id_path"    />
        <result property="taskMaintainerId"    column="task_maintainer_id"    />
    </resultMap>

    <select id="selectStatisticRptRepList" parameterType="StatisticRptRep" resultMap="StatisticRptRepResult">
        select tbi.id,tbi.org_name ,tpno.task_path_name ,tbi.task_name ,tbi.task_level ,
        tqr1.quotaCount ,trd1.reformCount ,tp1.planCount ,tpr1.policyCount ,su.full_name ,su.mobile ,
        tbi.task_system ,tbi.org_code ,tbi.task_id_path ,tbi.task_maintainer_id
        from szzf_db.tk_base_info tbi
        left join kbengine.tk_path_name_oo tpno on tbi.task_id = tpno.task_id
        left join cityos_user.sys_user su on tbi.task_maintainer_id = su.EMPLOYEE_ID
        left join (select trd.tk_base_info_id as id,count(0) as reformCount
        from cityos_task.tk_reform_detail trd group by trd.tk_base_info_id ) trd1 on tbi.id = trd1.id
        left join (select tqr.tk_base_info_id as id,count(0) as quotaCount
        from cityos_task.tk_quota_relation tqr group by tqr.tk_base_info_id) tqr1 on tbi.id = tqr1.id
        left join (select tp.tk_base_info_id as id,count(0) as planCount
        from cityos_task.tk_plan tp group by tp.tk_base_info_id) tp1 on tbi.id = tp1.id
        left join (select tpr.tk_base_info_id as id,count(0) as policyCount
        from kbengine.tk_policy_rep tpr group by tpr.tk_base_info_id) tpr1 on tbi.id = tpr1.id
        where tbi.task_process_status != 4 and tbi.valid_flag = 1
            <if test="orgName != null  and orgName != ''"> and org_name like concat('%', #{orgName}, '%')</if>
            <if test="taskSystem != null "> and task_system = #{taskSystem}</if>
            <if test="taskSystem != null "> and task_level = #{taskLevel}</if>
        order by tbi.task_id_path
    </select>
</mapper>