<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.busi.dao.ds1.PolicyBaseInfoRepMapper">

    <!--  开放接口对应对象（列表）  -->
    <resultMap type="com.wzxc.busi.vo.PolicyBaseInfoRep" id="PolicyBaseInfoRepResult">
        <result property="id"    column="id"    />
        <result property="policyId"    column="policy_id"    />
        <result property="policyType"    column="policy_type"    />
        <result property="fileObjectStr"    column="file_object_list"    />
        <result property="filePublishTime"    column="file_publish_time"    />
        <result property="fileImpTime"    column="file_imp_time"    />
        <result property="unscrambleName"    column="unscramble_name"    />
        <result property="unitName"    column="unit_name"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updator"    column="updator"    />
        <result property="cdOperation"    column="cd_operation"    />
        <result property="resource"    column="resource"    />
        <result property="policyName"    column="policy_name"    />
        <result property="policyNumber"    column="policy_number"    />
        <result property="remark"    column="remark"    />
        <result property="policySystem"    column="policy_system"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="drafter"    column="drafter"    />
        <result property="unscrambleUrl"    column="unscramble_url"    />
    </resultMap>

    <!--  不包含正文内容，适合列表  -->
    <sql id="selectPolicyBaseInfoRepVo">
        select id, policy_id, policy_type, file_object_list, file_publish_time, file_imp_time, unscramble_name, unit_name, unit_code, create_time, update_time, case when resource = '数字温州' then (select employee_name from cityos_user.sys_employee where cityos_user.sys_employee.id = policy_base_info_rep.creator) else policy_base_info_rep.creator end as creator, case when resource = '数字温州' then (select employee_name from cityos_user.sys_employee where cityos_user.sys_employee.id = policy_base_info_rep.updator) else policy_base_info_rep.updator end as updator, cd_operation, resource, policy_name, policy_number, remark, policy_system, policy_status, drafter, unscramble_url from policy_base_info_rep
    </sql>

    <select id="selectPolicyBaseInfoRepList" parameterType="PolicyBaseInfoRep" resultMap="PolicyBaseInfoRepResult">
        <include refid="selectPolicyBaseInfoRepVo"/>
        <where>
            resource not in ('省平台录入')
            <if test="id != null"> and id = #{id}</if>
            <if test="policyId != null  and policyId != ''"> and policy_id = #{policyId}</if>
            <if test="policyType != null or policyType == 0"> and policy_type = #{policyType}</if>
            <if test="publishTimeBegin != null "> and file_publish_time >= #{publishTimeBegin}</if>
            <if test="publishTimeEnd != null "> and file_publish_time &lt;= #{publishTimeEnd}</if>
            <if test="fileImpTime != null "> and file_imp_time = #{fileImpTime}</if>
            <if test="unscrambleName != null  and unscrambleName != ''"> and unscramble_name like concat('%', #{unscrambleName}, '%')</if>
            <if test="unitName != null and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="unitCode != null and unitCode != ''"> and unit_code = #{unitCode}</if>
            <if test="creator != null and creator != ''"> and creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
            <if test="resource != null  and resource != ''"> and resource = #{resource}</if>
            <if test="policyName != null  and policyName != ''"> and policy_name like concat('%', #{policyName}, '%')</if>
            <if test="policyNumber != null  and policyNumber != ''"> and policy_number = #{policyNumber}</if>
            <if test="policySystem != null  and policySystem != '' or policySystem == 0"> and policy_system = #{policySystem}</if>
            <if test="policyStatus != null or policyStatus == 0"> and policy_status = #{policyStatus}</if>
            <if test="drafter != null  and drafter != ''"> and drafter like concat('%', #{drafter}, '%')</if>
            <if test="unscrambleUrl != null  and unscrambleUrl != ''"> and unscramble_url = #{unscrambleUrl}</if>
            <if test="isValid != null"> and is_valid = #{isValid}</if>
            <if test="keyword != null  and keyword != ''"> and (policy_name like concat('%', #{keyword}, '%') or policy_number like concat('%', #{keyword}, '%'))</if>
        </where>
        order by create_time desc
    </select>

</mapper>