<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxc.zzdpush.dao.ds2.HhlZzdIndicatorMapper">

    <resultMap type="com.wzxc.zzdpush.vo.HhlZzdIndicator" id="HhlZzdIndicatorResult">
        <result property="indicatorId"    column="indicator_id"    />
        <result property="attributeName"    column="attribute_name"    />
        <result property="indicatorValue"    column="indicator_value"    />
        <result property="indicatorValuePeriod"    column="indicator_value_period"    />
        <result property="unit"    column="unit"    />
    </resultMap>

<!--  获取推送模板需要的参数  -->
    <select id="selectHhlZzdIndicatorList" parameterType="com.wzxc.zzdpush.vo.HhlZzdIndicator" resultMap="HhlZzdIndicatorResult">
        SELECT X.*, Y.unit FROM (SELECT  A.indicator_id indicator_id,
        C.attribute attribute_name,
        A.indicator_value indicator_value,
        CASE WHEN C.update_frequency_unit IN ('m', 'h', 'd') THEN B1.indicator_value
        WHEN C.update_frequency_unit = 'week' THEN B2.indicator_value
        WHEN C.update_frequency_unit = 'mon' THEN B3.indicator_value END indicator_value_period
        FROM cdc_indicator_value_day_his A
        INNER JOIN cdc_indicator C ON A.indicator_id = C.id AND A.indicator_day = DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY)
        LEFT JOIN (
        SELECT
        indicator_id,
        indicator_value
        FROM
        cdc_indicator_value_day_his
        WHERE
        indicator_day = DATE_SUB(CURRENT_DATE, INTERVAL 2 DAY)
        ) B1 ON B1.indicator_id = C.id AND (C.update_frequency_unit IN ('m', 'h', 'd'))
        lEFT JOIN (
        SELECT
        indicator_id,
        indicator_value
        FROM
        cdc_indicator_value_day_his
        WHERE
        indicator_day = DATE_SUB(CURRENT_DATE, INTERVAL 7 DAY)
        ) B2 ON B2.indicator_id = C.id AND C.update_frequency_unit = 'week'
        lEFT JOIN (
        SELECT
        indicator_id,
        indicator_value
        FROM
        cdc_indicator_value_day_his
        WHERE
        indicator_day = DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH)
        ) B3 ON B3.indicator_id = C.id AND C.update_frequency_unit = 'mon'
        WHERE A.indicator_id IN (
        '733724839704453120', -- 户籍人口总数
        '757545668349005824', -- 流动人口总数
        '755896185386622976', -- 红黄码发现量
        '808268529002893312', -- 红码发现量
        '808269129648197632', -- 黄码发现量
        '755897571792838656', -- 旅馆内宾来源地分布
        '764082455275290624', -- 全社会用电量
        '764080247305584640', -- 工业用电量
        '764080578789818368', -- 商业用电量
        '764084219663794176',	-- 居民用电量
        '735098186587848704', -- 每月存量商品住宅成交套数、成交面积、成交均价
        '755071929174122496', -- 市区出租车（巡游车）在途车辆
        '755072389561901056', -- 市区出租车（巡游车）载客比例
        '735441438461542400', -- 温州轨道交通S1线
        '805809926534877184',	-- 猪肉价格
        '805810731446980608',	-- 鸡蛋价格
        '805811698309550080'	-- 蔬菜价格
        )
        UNION ALL
        SELECT
        A.indicator_id indicator_id,
        cdc_indicator.attribute attribute_name,
        A.current_value indicator_value,
        B.indicator_value indicator_value_period
        FROM
        cdc_indicator_current A
        JOIN (
        SELECT
        indicator_id,
        indicator_value
        FROM
        cdc_indicator_value_day_his
        WHERE
        indicator_day = DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY)
        ) B ON A.indicator_id = B.indicator_id
        JOIN cdc_indicator ON cdc_indicator.id = A.indicator_id
        WHERE
        A.indicator_id IN (
        '731223210941931520', -- 门诊人次
        '735238253021118464', -- 发热病人
        '731222765410377728', -- 住院人次
        '737234817230979072', -- 医保支付额
        '756236566615744512' -- 昨日汽车客运站场客流总数
        )) X
        LEFT JOIN (SELECT DISTINCT indicator_id, unit FROM cdc_indicator_current) Y ON X.indicator_id = Y.indicator_id
        <where>
            <if test="indicatorId != null"> and indicator_id = #{indicatorId}</if>
        </where>
    </select>

</mapper>